
<!DOCTYPE html>
<html lang="en">
  
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      height: auto;
      width: auto;
    }

    nav {
      background-color: #000000;
      overflow: hidden;
      width: 100%;
    }

    nav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    nav a:hover {
      background-color: #ffffff;
      color: black;
    }
  </style>
  
</head>


<body>
    <nav>
            <a href="{% url 'update' %}"> <b>Stock Update</b> </a>
            <a href="{% url 'irumudi_book' %}"> <b> Book Irumudi</b> </a>
            <a href="{% url 'items_list' %}"><b> Irumudi Items</b> </a>
            <a href="{% url 'maaladharane' %}"><b> Maaladharane </b></a>
            <a href="{% url 'ghee' %}"><b> Ghee/Coconut</b> </a>
            <a href="{% url 'irumudi_register' %}"><b> Irumudi Booking Record</b></a>
            <a href="{% url 'expenses' %}"><b> Cash Report</b> </a>
            <a href="{% url 'temple_s' %}"><b> Temple Seva</b> </a>
    </nav>
    {% block content %}
    
    {%  endblock  %}
</body>

</html>
