{% include 'temple_app\nav_bar.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Records</title>
<style>
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: #f2803e;
       
    }

    main {
        
        padding-top: 30px;
        display: flex;
        justify-content: center;
        background-color: #f2803e;
    }
 

    .main_container {
        display: flex; 
        justify-content: 
      }
    .container {
        width: 30%;
        margin: 10px; 
        
      }
    .container_end{
        width: 50%;
        margin: 10px; 
        
    }
  

    
    table {
        padding: 20px;
  
        border-collapse: collapse;
        width: 100%;
  
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: #f2f2f2;
      }
      td{
        background-color: #0ad2fa;
    
      }

  h2{
    text-align: center;
  
  }


</style>
</head>
<body>
{% block content %}
    <br>
    <h2>
        From: {{from_date}}  To:{{to_date}}

    </h2>
    
    {% if from_date and to_date %}
    <div class="main_container">
        <div class="container">   
            <table >
    
                    <thead>
                        <tr>
                            <th>{{col1.0}}</th>
                            <th>{{col1.1}}</th>
                            <th>{{col1.2}}</th>
                        </tr>
                
                    
                </thead>
    
                <tbody>
                    <tr>
                        {% if ir_data %}
                        {%for ir in ir_data %}
                            <td>
                                {{ir}}
                            </td>
                        {% endfor %}
                    
                    <tr>
                        {% endif %}
    
                        {% if ml_data%}
                        
                        {%for ml in ml_data %}
                        <td>
                            {{ml}}
                        </td>
                        {% endfor %}
                        {% endif %}
    
                    </tr>
                    
                    <tr>
                        {% if gl_data%}
                        {%for gl in gl_data %}
                            <td>
                                {{gl}}
                            </td>
                        {% endfor %}
                        {%  endif %}
                    </tr>
                    <tr>
                        {% if id_data %}
                        {%for il in id_data %}
                            <td>
                                {{il}}
                            </td>
                        {% endfor %}
                        {% endif %}
                    </tr>
    
                    <tr>
                        {% if donation_amt%}
                        {% for d in donation_amt %}
                            <td>
                                {{d}}
                            </td>
                           
                        {%  endfor %}
    
                        {% endif %}
                    </tr>
    
                    </tr>
                    <tr>
                        <th>
                            Grand Total: Rs.{{gt}}
                        </th>
                    </tr>
                    
                  
                </tbody>
            </table>
            <br>
    </div>
        
        <div class="container">
          
            <table>
                <thead>
                    <tr>
                        <th> IR No</th>
                        <th> Total Amount</th>
                    </tr>
                    
                    
                </thead>
                <tbody>
                    {% if irumudi_sold %}
                    <tr>
                        {% for rc,amt in irumudi_sold%}
                        <tr>
                            <td>
                                {{rc}}
        
                            </td>
                            <td>
                                {{amt}}
                            </td>
    
                        </tr>
            
                    {% endfor %}
                    {% endif %}
                </tbody>
                </table>
    
    
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th> IL No</th>
                        <th> Total Amount</th>
                    </tr>
                    
                    
                </thead>
                <tbody>
                    <tr>
                        {% if items_sold %}
                        {% for rc,amt in items_sold%}
                        <tr>
                            <td>
                                {{rc}}
        
                            </td>
                            <td>
                                {{amt}}
                            </td>
    
                        </tr>
                    
                    {% endfor %}
                    {% endif %}
                    
                </tbody>
                </table>
        </div>
        
        <div class="container">
     
            <table>
                <thead>
                    <tr>
                        <th> DN No</th>
                        <th> Total Amount</th>
                    </tr>
                    
                    
                </thead>
                <tbody>
                    {% if donation_values %}
                    <tr>
                        {% for rc,amt in donation_values %}
                        <tr>
                            <td>
                                {{rc}}
        
                            </td>
                            <td>
                                {{amt}}
                            </td>
    
                        </tr>
            
                    {% endfor %}
                    {% endif %}
                </tbody>
                </table>
        </div>
       
    </div>
    <div class="container_end" >
        <table>
            <thead>
                <tr>
                  <th>
                    Description
                  </th>
                  <th>
                    Total Expense
                  </th>
    
                </tr>

            </thead>
            <tbody>
                <tr>
                    {% if exp_values %}
                    {% for k,v in exp_values%}

                    <tr>
                        <td>
                            {{k}}
                        </td>
                        <td>
                            {{v}}
                        </td>

                    </tr>
                    {%  endfor %}
                    {%  endif %}
                    
                    <tr>
                        <th>
                            Total Expense: Rs.{{grand_total}}
                        </th>
                    </tr>

                </tr>
            </tbody>
            

        </table>

    </div>

    <div >

        <table>
            <thead>
                <tr>
                    <th>
                        Net Balance: Rs.{{net_balance}}
                    </th>
                    
                </tr>
            </thead>
        </table>
    </div>

    {% endif %}

    
    
{% endblock %}
</body>
</html>
